body{
 background-image: url("../images/zebra.jpg");
 /* if the image is too small, background-repeat: no-repeat; */
 /* background-size: 200px; */
 background-size: cover;
 background-repeat: no-repeat;
}
.img{
 border: 5px dotted green;
}

/*Descendant: anywhere nested within it in the DOM tree. Could be a direct child, could be five levels deep */

ul li{
 color: red;
 font-size: 30px;
}

/* A child is an element that is directly below and connected to an element in the document tree. */

ul > li{
 color:blueviolet;
 font-weight: bold;
}

/* Selecting or Grouping multiple elements */

h3, h4, .grouping1, #grouping2{
 color: blanchedalmond;
 background: goldenrod;
}