body {
}

.image {
  border-radius: 5px; /* we can put % values as well */
  width: 50%;
  /* height: 500px; */
  border: 5px solid red;
  padding: 8px;
}
img {
  max-width: 100%;
  height: auto;
  padding: 5px;
  opacity: 0.5;
  display: block;
  margin: auto;
}
